# Normalise line endings
* text=auto eol=lf

# Exclude development files from the Composer dist archive
/.github            export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml        export-ignore
/CHANGELOG.md       export-ignore
